.sidebar {
  position:absolute;
  top:0; bottom:0; left:0;
  width:50px;
  background:#000;
}

.images {
  margin-left: 45px;
}
img {
  border: 1px solid gray;
}

img:hover {
    opacity: 0.4;
    background-color: green;
    /*filter: alpha(opacity=40); /* For IE8 and earlier */*/
}

.p1 {
  /*position:;*/
}

#remoteVideo {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  display: block;
  z-index: 1;
  position: absolute;
  object-fit: cover;
  bottom: 0;
}
.table {
  width: 95%;
}

/*#localVideo {
  max-height: 20%;
  max-width: 20%;
  position: absolute;
  border: 1px solid gray;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}*/

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
  padding: 0px;
}

.localVideo {
  height: 400px;
  width: 400px;
  background-color: black;
  border: 1px solid gray;
}

#info {
  z-index: 3;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 20px;
  left: 20px;
  padding: 5px 10px 5px 10px;
}

p {
  color: white;
}

.localText {
  color: rgb(117, 117, 255);
  text-align: right;
}

.remoteText {
  text-align: left;
}

.screenshare-container {
  height: 10em;
  position: relative
}
.screen {
  margin: 0;
  background: yellow;
  position: absolute;
  /*top: 50%;*/
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%)
}